

<div class="homeHeader" id="commentHeader">
	<div class="headerImg">
		<img src="./../image/logo.png" alt="" />
	</div>
	<div class="headerIpt">
		<i class="iconfont">&#xe60b;</i>套装
	</div>
	<div class="headerTalk">
		<i class="iconfont">&#xe65c;</i>
	</div>
	
</div>
<div class="homeContent">
	<div class="swiper-container" id="homeBanner">
		<div class="swiper-wrapper" id="homeWapper"></div>
		<div class="swiper-pagination"></div>		
	</div>
	<div class="box-wrap">
		 <div class="box"> </div>
	</div>
	<div class="boxKong"></div>
	<div class="mian1">
		<div class="mainTit">
			<span>全部拼团</span>
			<span>超值拼团 &gt;</span>
		</div>
		<div class="mainVal"></div>
		<div class="mainBtm">
			<span>全部超值拼团</span>
		</div>	
		
	</div>
	
	<div class="boxKong2"></div>
	
	<div class="limitTime">
		<div class="limitHeader">
			<fieldset >
				<legend>限时特惠距离活动结束仅剩</legend>
			</fieldset>
			
			<div class="time-content">
				<span class="detail-wrap" id="hh"></span>
				<span class="detail-wrap">时</span>
				<span class="mm detail-wrap" id="mm"></span>
				<span class="detail-wrap" >分</span>
				<span class="ss detail-wrap" id="ss"></span>
				<span class="detail-wrap" >秒</span>
				<span class="ms detail-wrap" id="ms"></span>
				
			</div>
		</div>
		<div class="limitContent">
			<div class="limitWrap">
				<div class="singleShop board">
					<span>查看更多<br/>特惠商品</span>
				</div>
			</div>
				
		</div>
		
	</div>
	<div class="boxKong3"></div>
	<div class="mainShopImg">
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
		<a href=""></a>
	</div>
	<div class="mainTitImg">
		<img src="https://s10.mogucdn.com/mlcdn/c45406/170523_3588j3005fhc2d8f1icgijbgg23gk_740x128.jpg_999x999.v1c0.webp" alt="" />
	</div>
	<div class="mainContent">
		
	</div>
	<div class="updataMore">查看更多&nbsp;   &gt;</div>
	<div class="boxKong4"></div>
	<div class="shopLists">	
		<!--导航部分 -->
		<div class="tabHeader">
			<ul class="nav navBox" >
			    <li class="active"><b>流行</b></li>
			    <li><b>新款</b></li>
			    <li><b>精选</b></li>			   
			</ul>
		</div>
	  
	
	  <!-- 内容区域 -->
    <div class="tab-content">
	    <div  class="tab-pane active" id="home">
	    	<ul class="tabLists">
	    		<!--<li>
	    			<img src="./../image/logo.png" alt="" />
	    			<h5>商品名称商品名称商品名称商品名称商品名称商品名称商品名称</h5>
	    			<p>￥20
	    				<i></i>
	    				<span>200</span>
	    			</p>	    			
	    		</li>
	    	-->
 		
	    	</ul>
	    </div>
	    <div  class="tab-pane" id="profile">
	    	<ul class="tabLists"></ul>
	    </div>
	    <div  class="tab-pane" id="messages">
	    	<ul class="tabLists"></ul>
	    </div>
	</div>    
	
	</div>
	
</div>