<div class="kindHeader" id="commentHeader">
	<div class="headerImg">
		<img src="./../image/logo.png" alt="" />
	</div>
	<div class="headerIpt">
		<i class="iconfont">&#xe60b;</i>套装
	</div>
	<div class="headerTalk">
		<i class="iconfont">&#xe65c;</i>
	</div>
	
</div>
<div class="kindContent">
	<div class="kHeader">
		<h2>本周流行</h2>
	</div>
	<div class="kindPic">
		<!--<dl>
			<dd><img src="./../image/logo.png" alt="" /></dd>
			<dt>商品</dt>
		</dl>
		<dl>
			<dd><img src="./../image/logo.png" alt="" /></dd>
			<dt>商品</dt>
		</dl>
		<dl>
			<dd><img src="./../image/logo.png" alt="" /></dd>
			<dt>商品</dt>
		</dl>
		<dl>
			<dd><img src="./../image/logo.png" alt="" /></dd>
			<dt>商品</dt>
		</dl>-->
	</div>
</div>