<div class="loginHeader" id="commentHeader">
	<div class="back">
		<i class="iconfont">&#xe606;</i>
	</div>
	<div class="title">登录-美丽说</div>
	<div class="loginHome">注册</div>
</div>
<div class="loginContent">
	
	<div class="loginImg">
		<img src="http://s16.mogucdn.com/p1/150803/upload_ieztmnzwmztdsoddgizdambqgyyde_210x210.png" alt="" />
	</div>
		<fieldset>
			<legend>美丽说账号登录</legend>
			<input type="text" name="userID" id="userID" value="" placeholder="昵称/邮箱/手机号"/>
			<input type="password" name="password" id="password" value="" placeholder="密码"/>
			<input type="button" name="loginBtn" id="loginBtn" value="登录"/>
			<span class="skipReg">忘记密码？</span>
		</fieldset>
</div>