<div class="mydeHeader" id="commentHeader">
	<div class="back">
		<i class="iconfont">&#xe606;</i>
	</div>
	<div class="title">个人中心</div>
	<div class="mydeHome">退出</div>
</div>
<div class="mydeContent">
	<div class="MydeHeader">
		<div class="ImgBox">
			<img src="http://s3.mogucdn.com/mlcdn/5abf39/170728_0jkh7dikdd1aa09g3h4d529b465hl_480x480.jpg" alt="" />
			<p>昵称</p>
		</div>
		<ul class="boxList">
			<li><span>0</span>收藏的宝贝</li>
			<li><span>0</span>收藏的店铺</li>
			<li style="border-left:1px solid #fff;"><span></span>优惠券</li>
			<li><span></span>收货地址</li>
		</ul>
		
	</div>
	
	<div class="boxKong11"></div>
	<div class="MydeConten1">
		
		<img src="https://s10.mogucdn.com/p2/170213/198415241_3ecg3g68aj4gfbh129jhag9adg96a_60x60.png" alt="" />
		<b>成为分享达人</b>
		<p>分享赚钱 &gt;</p>
		
	</div>
	<div class="boxKong22"></div>
	<div class="MydeConten2">
		<ul class="boxList2">
			<li><span></span>全部订单</li>
			<li><span></span>待付款</li>
			<li style="border-left:1px solid #fff;"><span></span>待收货</li>
			<li><span></span>待评价</li>
		</ul>
	</div>
	<div class="boxKong33"></div>
	<div class="mydeContent3">
		<img src="http://d01.res.meilishuo.net/pic/_o/2f/4a/59b3492fcb71ef77db5dad228e32_153_166.cg.png" alt="" />
		<p>你还没有相关的订单~</p>
	</div>
	
</div>